body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3a4663;
}

.main-container {
  width: 100%;

  border: black solid 2px;
  background-color: #242d44;
  padding: 10px;
}
